body{
    font-family: 'Open Sans', sans-serif;
}

article{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#calendrier{
  width: 65%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.w3-bar{
  z-index: 100000;
}

.expo {
  display: grid; 
  grid-template-columns: 250px 1fr; 
  grid-template-rows: 0.2fr 0.1fr 0.3fr 0.2fr 0.4fr 0.1fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "affiche titreexpo"
    "affiche typevent"
    "affiche horaires"
    "affiche tarif"
    "affiche localisation"
    "affiche autresinfos"
    "affiche lien"; 
  margin-top: 2em;
  padding-bottom: 20px;
}

.expo-grey {
  background-color: gainsboro;
}
.affiche { grid-area: affiche; }
.titreexpo { grid-area: titreexpo; }
.typevent { grid-area: typevent; }
.horaires { grid-area: horaires; 
  padding-top: 10px; }
.tarif { grid-area: tarif; 
  padding-top: 10px; }
.autresinfos { grid-area: autresinfos; 
  padding-top: 10px; }
.localisation { 
  grid-area: localisation;
  padding-top: 10px; 
}
.lien { grid-area: lien; 
  padding-top: 10px; }

.affiche-with-img{
  width: 220px;
  height: auto;
  overflow: hidden;
}

.affiche-img {
  width: 220px; 
}

.affiche-no-img{
  width: 220px;
  height: auto;
}

#map{
  width: 80%;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
}

/******* NAVBAR ******/

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .navbar a.split {
    float: right;
    background-color: #92B44B;
    color: white;
  }

/****** MAP ******/
.divlogo{
  margin-top: 4em;
  margin-bottom: 1em;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.logo{
    max-width: 100%;
    width: 100%;
  }

.subtitle{
    color: #253F60;
    font-family: 'Open Sans', italic;
    text-align: center;
    font-size: 30px;
}


.events{
    width:100%;
}

iframe {
    display: block; 
    margin: auto;
}

.customcolor{
    background-color: #92B44B;
}

/*Form Contact*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/***** TABLEAU *****/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 1em;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

/**** FOOTER *****/

footer{
    background-color:#BED2EA;
}

@media screen and (max-width: 600px) {
  .article {
    width: 100%;
  }

  .divlogo{
    margin-top: 6em;
  }

  #calendrier{
    width: 100%;
    margin-left:0;
    margin-right:0;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #expo{
    width: 100%;
    padding-left:5px;
    padding-right: 5px;
  }

  #map{
    width: 100%;
  }
  .logo{    
    width:100%;}

  .facebook{
    width: 100%;
  }

  .affiche-img{
    width: 200px;
  }

  .expo {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 0.8fr 0.1fr 0.3fr 0.2fr 0.4fr 0.1fr;
    gap: 0px 0px; 
    grid-template-areas: 
      "titreexpo"
      "affiche"
      "typevent"
      "horaires"
      "tarif"
      "localisation"
      "autresinfos"
      "lien"; 
    margin-top: 2em;
    padding-bottom: 20px;
  }

}